<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Battle</title>
<link rel="stylesheet" th:href="@{/css/battle.css}">
<script th:src="@{/js/battle.js}"></script> 
</head>
<body style = "margin:0 auto;">
	<h1>ジャンケンバトル</h1>
	<h2>チェックボックスの中から出したい手を選んでください</h2>

	<form id="form" method="post" action="@{/battle}">
		<label>1 <input type="checkbox" name="auth1"></label>
		<label>2 <input type="checkbox" name="auth2"></label>
		<label>3 <input type="checkbox" name="auth3"></label>
		<input type="submit" value="決定" />
	</form>
	
</body>
</html>